In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as sm

In [ ]:
df = pd.read_csv('Abandono_Clientes_Bancarios.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
dummy_gender = pd.get_dummies(df["Gender"], prefix="Gender")
dummy_geography = pd.get_dummies(df["Geography"], prefix="Geography")
df1 = df.drop(["Surname", "CustomerId","Tenure","RowNumber"], axis=1)
df2 = df1.drop(["Geography"], axis=1)
df3 = df2.drop(["Gender"], axis=1)

In [ ]:
df3 = pd.concat([df3, dummy_gender, dummy_geography], axis=1)
df3.head()

,CreditScore,Age,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Gender_Female,Gender_Male,Geography_France,Geography_Germany,Geography_Spain
0,619,42,0.00,1,1,1,101348.88,1,1,0,1,0,0
1,608,41,83807.86,1,0,1,112542.58,0,1,0,0,0,1
2,502,42,159660.80,3,1,0,113931.57,1,1,0,1,0,0
3,699,39,0.00,2,0,0,93826.63,0,1,0,1,0,0
4,850,43,125510.82,1,1,1,79084.10,0,1,0,0,0,1

In [ ]:
df3 = df3[['CreditScore','Age','Balance','NumOfProducts','HasCrCard','IsActiveMember','EstimatedSalary','Gender_Male','Geography_France','Geography_Spain','Exited']]
df3.head()

,CreditScore,Age,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Gender_Male,Geography_France,Geography_Spain,Exited
0,619,42,0.00,1,1,1,101348.88,0,1,0,1
1,608,41,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,159660.80,3,1,0,113931.57,0,1,0,1
3,699,39,0.00,2,0,0,93826.63,0,1,0,0
4,850,43,125510.82,1,1,1,79084.10,0,0,1,0

Decidimos omitir las variables "Gender_Female" y "Geography_Germany" para no causar una dependencia entre variables

In [ ]:
X = df3.iloc[:, :10]
y = df3.iloc[:, -1]

In [ ]:
import sklearn.ensemble as RandomForestClassifier
import sklearn.model_selection as cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold

In [ ]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.20, random_state=0)
Xtrain.shape, Xtest.shape

((8000, 10), (2000, 10))

In [ ]:
kf = KFold(n_splits=5, shuffle=True, random_state=2)
for valores_x, valores_y in kf.split(X):
  print("Entrenamiento: ", df3.iloc[valores_x], "Prueba: ", df3.iloc[valores_y])

Entrenamiento:        CreditScore  Age    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0             619   42       0.00              1          1               1
1             608   41   83807.86              1          0               1
2             502   42  159660.80              3          1               0
5             645   44  113755.78              2          1               0
6             822   50       0.00              2          1               1
...           ...  ...        ...            ...        ...             ...
9992          726   36       0.00              1          1               0
9995          771   39       0.00              2          1               0
9996          516   35   57369.61              1          1               1
9997          709   36       0.00              1          0               1
9998          772   42   75075.31              2          1               0

      EstimatedSalary  Gender_Male  Geography_France  Geography_Spain  Exited
0           101348.88            0                 1                0       1
1           112542.58            0                 0                1       0
2           113931.57            0                 1                0       1
5           149756.71            1                 0                1       1
6            10062.80            1                 1                0       0
...               ...          ...               ...              ...     ...
9992        195192.40            1                 0                1       0
9995         96270.64            1                 1                0       0
9996        101699.77            1                 1                0       0
9997         42085.58            0                 1                0       1
9998         92888.52            1                 0                0       1

[8000 rows x 11 columns] Prueba:        CreditScore  Age    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
3             699   39       0.00              2          0               0
4             850   43  125510.82              1          1               1
10            528   31  102016.72              2          0               0
20            732   41       0.00              2          1               1
30            591   39       0.00              3          1               0
...           ...  ...        ...            ...        ...             ...
9987          606   30  180307.73              2          1               1
9990          714   33   35016.60              1          1               0
9993          644   28  155060.41              1          1               0
9994          800   29       0.00              2          0               0
9999          792   28  130142.79              1          1               0

      EstimatedSalary  Gender_Male  Geography_France  Geography_Spain  Exited
3            93826.63            0                 1                0       0
4            79084.10            0                 0                1       0
10           80181.12            1                 1                0       0
20          170886.17            1                 1                0       0
30          140469.38            0                 0                1       1
...               ...          ...               ...              ...     ...
9987          1914.41            1                 0                1       0
9990         53667.08            1                 0                0       0
9993         29179.52            1                 1                0       0
9994        167773.55            0                 1                0       0
9999         38190.78            0                 1                0       0

[2000 rows x 11 columns]
Entrenamiento:        CreditScore  Age    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0             619   42       0.00              1          1               1
1             608   41   83807.86              1          0               1
3             699   39       0.00              2          0               0
4             850   43  125510.82              1          1               1
5             645   44  113755.78              2          1               0
...           ...  ...        ...            ...        ...             ...
9994          800   29       0.00              2          0               0
9995          771   39       0.00              2          1               0
9996          516   35   57369.61              1          1               1
9997          709   36       0.00              1          0               1
9999          792   28  130142.79              1          1               0

      EstimatedSalary  Gender_Male  Geography_France  Geography_Spain  Exited
0           101348.88            0                 1                0       1
1           112542.58            0                 0                1       0
3            93826.63            0                 1                0       0
4            79084.10            0                 0                1       0
5           149756.71            1                 0                1       1
...               ...          ...               ...              ...     ...
9994        167773.55            0                 1                0       0
9995         96270.64            1                 1                0       0
9996        101699.77            1                 1                0       0
9997         42085.58            0                 1                0       1
9999         38190.78            0                 1                0       0

[8000 rows x 11 columns] Prueba:        CreditScore  Age    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
2             502   42  159660.80              3          1               0
11            497   24       0.00              2          1               0
15            616   45  143129.41              2          0               1
16            653   58  132602.88              1          1               0
18            587   45       0.00              1          0               0
...           ...  ...        ...            ...        ...             ...
9957          633   25       0.00              1          1               0
9977          683   32       0.00              2          1               1
9978          774   40   93017.47              2          1               0
9984          602   35   90602.42              2          1               1
9998          772   42   75075.31              2          1               0

      EstimatedSalary  Gender_Male  Geography_France  Geography_Spain  Exited
2           113931.57            0                 1                0       1
11           76390.01            1                 0                1       0
15           64327.26            1                 0                0       0
16            5097.67            1                 0                0       1
18          158684.81            1                 0                1       0
...               ...          ...               ...              ...     ...
9957        100598.98            1                 1                0       0
9977         24991.92            0                 1                0       0
9978        191608.97            1                 1                0       0
9984         51695.41            1                 0                0       0
9998         92888.52            1                 0                0       1

[2000 rows x 11 columns]
Entrenamiento:        CreditScore  Age    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
1             608   41   83807.86              1          0               1
2             502   42  159660.80              3          1               0
3             699   39       0.00              2          0               0
4             850   43  125510.82              1          1               1
6             822   50       0.00              2          1               1
...           ...  ...        ...            ...        ...             ...
9995          771   39       0.00              2          1               0
9996          516   35   57369.61              1          1               1
9997          709   36       0.00              1          0               1
9998          772   42   75075.31              2          1               0
9999          792   28  130142.79              1          1               0

      EstimatedSalary  Gender_Male  Geography_France  Geography_Spain  Exited
1           112542.58            0                 0                1       0
2           113931.57            0                 1                0       1
3            93826.63            0                 1                0       0
4            79084.10            0                 0                1       0
6            10062.80            1                 1                0       0
...               ...          ...               ...              ...     ...
9995         96270.64            1                 1                0       0
9996        101699.77            1                 1                0       0
9997         42085.58            0                 1                0       1
9998         92888.52            1                 0                0       1
9999         38190.78            0                 1                0       0

[8000 rows x 11 columns] Prueba:        CreditScore  Age    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0             619   42       0.00              1          1               1
5             645   44  113755.78              2          1               0
7             376   29  115046.74              4          1               0
13            549   25       0.00              2          0               0
21            636   32       0.00              2          1               0
...           ...  ...        ...            ...        ...             ...
9955          714   29       0.00              2          1               1
9959          764   38  113607.47              1          1               0
9967          623   48  118469.38              1          1               1
9968          512   40  153537.57              2          0               0
9979          677   58   90022.85              1          0               1

      EstimatedSalary  Gender_Male  Geography_France  Geography_Spain  Exited
0           101348.88            0                 1                0       1
5           149756.71            1                 0                1       1
7           119346.88            0                 0                0       1
13          190857.79            0                 1                0       0
21          138555.46            0                 0                1       0
...               ...          ...               ...              ...     ...
9955         37605.90            1                 0                1       0
9959         91094.46            1                 0                1       0
9967        158590.25            1                 1                0       0
9968         23101.13            0                 0                0       0
9979          2988.28            0                 1                0       0

[2000 rows x 11 columns]
Entrenamiento:        CreditScore  Age    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0             619   42       0.00              1          1               1
1             608   41   83807.86              1          0               1
2             502   42  159660.80              3          1               0
3             699   39       0.00              2          0               0
4             850   43  125510.82              1          1               1
...           ...  ...        ...            ...        ...             ...
9993          644   28  155060.41              1          1               0
9994          800   29       0.00              2          0               0
9996          516   35   57369.61              1          1               1
9998          772   42   75075.31              2          1               0
9999          792   28  130142.79              1          1               0

      EstimatedSalary  Gender_Male  Geography_France  Geography_Spain  Exited
0           101348.88            0                 1                0       1
1           112542.58            0                 0                1       0
2           113931.57            0                 1                0       1
3            93826.63            0                 1                0       0
4            79084.10            0                 0                1       0
...               ...          ...               ...              ...     ...
9993         29179.52            1                 1                0       0
9994        167773.55            0                 1                0       0
9996        101699.77            1                 1                0       0
9998         92888.52            1                 0                0       1
9999         38190.78            0                 1                0       0

[8000 rows x 11 columns] Prueba:        CreditScore  Age    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
6             822   50       0.00              2          1               1
8             501   44  142051.07              2          0               1
9             684   27  134603.88              1          1               1
14            635   35       0.00              2          1               1
19            726   24       0.00              2          1               1
...           ...  ...        ...            ...        ...             ...
9985          659   36  123841.49              2          1               0
9988          775   30       0.00              2          1               0
9992          726   36       0.00              1          1               0
9995          771   39       0.00              2          1               0
9997          709   36       0.00              1          0               1

      EstimatedSalary  Gender_Male  Geography_France  Geography_Spain  Exited
6            10062.80            1                 1                0       0
8            74940.50            1                 1                0       0
9            71725.73            1                 1                0       0
14           65951.65            0                 0                1       0
19           54724.03            0                 1                0       0
...               ...          ...               ...              ...     ...
9985         96833.00            1                 1                0       0
9988         49337.84            1                 1                0       0
9992        195192.40            1                 0                1       0
9995         96270.64            1                 1                0       0
9997         42085.58            0                 1                0       1

[2000 rows x 11 columns]
Entrenamiento:        CreditScore  Age    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0             619   42       0.00              1          1               1
2             502   42  159660.80              3          1               0
3             699   39       0.00              2          0               0
4             850   43  125510.82              1          1               1
5             645   44  113755.78              2          1               0
...           ...  ...        ...            ...        ...             ...
9994          800   29       0.00              2          0               0
9995          771   39       0.00              2          1               0
9997          709   36       0.00              1          0               1
9998          772   42   75075.31              2          1               0
9999          792   28  130142.79              1          1               0

      EstimatedSalary  Gender_Male  Geography_France  Geography_Spain  Exited
0           101348.88            0                 1                0       1
2           113931.57            0                 1                0       1
3            93826.63            0                 1                0       0
4            79084.10            0                 0                1       0
5           149756.71            1                 0                1       1
...               ...          ...               ...              ...     ...
9994        167773.55            0                 1                0       0
9995         96270.64            1                 1                0       0
9997         42085.58            0                 1                0       1
9998         92888.52            1                 0                0       1
9999         38190.78            0                 1                0       0

[8000 rows x 11 columns] Prueba:        CreditScore  Age    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
1             608   41   83807.86              1          0               1
12            476   34       0.00              2          1               0
17            549   24       0.00              2          1               1
24            846   38       0.00              1          1               1
25            577   25       0.00              2          0               1
...           ...  ...        ...            ...        ...             ...
9976          637   33  103377.81              1          1               0
9981          498   42  152039.70              1          1               1
9989          841   28       0.00              2          1               1
9991          597   53   88381.21              1          1               0
9996          516   35   57369.61              1          1               1

      EstimatedSalary  Gender_Male  Geography_France  Geography_Spain  Exited
1           112542.58            0                 0                1       0
12           26260.98            0                 1                0       0
17           14406.41            0                 0                1       0
24          187616.16            0                 1                0       0
25          124508.29            1                 1                0       0
...               ...          ...               ...              ...     ...
9976         84419.78            0                 1                0       0
9981         53445.17            1                 0                0       1
9989        179436.60            1                 0                1       0
9991         69384.71            0                 1                0       1
9996        101699.77            1                 1                0       0

[2000 rows x 11 columns]

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.20, random_state=0)
Xtrain.shape, Xtest.shape

((8000, 10), (2000, 10))

In [ ]:
lr = LogisticRegression()
lr.fit(Xtrain, ytrain)
lr.score(Xtest, ytest)

0.789

In [ ]:
svm = SVC()
svm.fit(Xtrain, ytrain)
svm.score(Xtest, ytest)

0.7975

In [ ]:
rf = RandomForestClassifier(n_estimators=30)
rf.fit(Xtrain, ytrain)
rf.score(Xtest, ytest)

0.8525

No podemos expresar que un modelo es mejor que otro dado que el score de los mismos pueden cambiar dependiendo la cantidad de veces que entrenemos el modelo ya que lo hace uniformemente. Es por esto que ahora usaremos KFold para verificar que tan bueno es nuestro algoritmo y asi determinar si hay Overfitting o Underfitting.

In [ ]:
from sklearn.model_selection import KFold
kf = KFold(n_splits=5)

In [ ]:
for train_index, test_index in kf.split([1,2,3,4,5,6,7,8,9]):
  print(train_index, test_index)

[2 3 4 5 6 7 8] [0 1]
[0 1 4 5 6 7 8] [2 3]
[0 1 2 3 6 7 8] [4 5]
[0 1 2 3 4 5 8] [6 7]
[0 1 2 3 4 5 6 7] [8]

In [ ]:
def get_score(model, Xtrain, Xtest, ytrain, ytest):
  model.fit(Xtrain, ytrain)
  return model.score(Xtest, ytest)

In [ ]:
from sklearn.model_selection import StratifiedKFold
folds = StratifiedKFold(n_splits=5)

In [ ]:
from sklearn.model_selection import cross_val_score
cross_val_score(LogisticRegression(), X, y).mean()

0.7902

In [ ]:
lr = LogisticRegression()
lr.fit(Xtrain, ytrain)
lr.score(Xtest, ytest)

0.789

Los valores son muy similares por lo que no estaríamos en una situación de overfitting o underfitting.

In [ ]:
cross_val_score(SVC(), X, y).mean()

0.7963

In [ ]:
svm = SVC()
svm.fit(Xtrain, ytrain)
svm.score(Xtest, ytest)

0.7975

Los valores son muy similares por lo que no estaríamos en una situación de overfitting o underfitting.

In [ ]:
cross_val_score(RandomForestClassifier(), X, y).mean()

0.8594000000000002

In [ ]:
rf = RandomForestClassifier(n_estimators=30)
rf.fit(Xtrain, ytrain)
rf.score(Xtest, ytest)

0.8605

Los valores son muy similares por lo que no estaríamos en una situación de overfitting o underfitting.

En casi todos los modelos que evaluamos, el cross validation estuvo un poquito por debajo que los valores esperados, lo que nos podría estar diciendo que hay una situación mínima de underfitting. Para prevenir esta situación lo que podriamos hacer es tratar de eliminar datos atípicos como tan bien eliminar variables que no nos sean de uso tan necesario, también podriamos tratar de usar modelos mas complejos para mejorar la situación de nuestro DataSet.